/* CSS Reset */
* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    /* box-sizing : border-box; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
}

.container {
    background: linear-gradient(135deg, #1a1a1a, #0d0d0d);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.title_container {
    margin: 0.5rem 3rem;
    padding: 0.5rem;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #39ff14;
    text-shadow: 0.1rem 0.1rem 0.1rem #39ff14;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

.title_container:hover {
    transform: scale(1.1);
}

.score_container {
    align-items: flex-start;
}

#hiscore {
    padding-top: 1rem;
    transition: transform 0.4s ease-in-out;
}

#hiscore:hover {
    transform: scale(1.1);
    color: #ffff33;
}

#scoreCount {
    transition: transform 0.4s ease-in-out;
}

#scoreCount:hover {
    transform: scale(1.1);
    color: #ffff33;
}

.body_container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-sizing: border-box; */
}

.common-style {
    font-size: 2rem;
    margin: 0.7rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    cursor: pointer;
    color: #00ccff;
    text-shadow: 0 0 0.1rem #00ccff;
}

.instructions {
    margin: 0.5rem 0.5rem;
}

#instruction2 {
    padding-top: 2rem;
}

.touch-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    /* margin-top: 4rem; */
}

button {
    width: 5rem;
    /* margin: 1rem; */
    padding: 1rem;
    text-align: center;
    border-radius: 20%;
    background-color: inherit;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#left {
    margin-right: 3rem;
}

#right {
    margin-left: 3rem;
}

.middle-controls {
    display: flex;
    flex-direction: row;
}

.board_container {
    margin: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
    /* box-sizing: border-box; */
}

#board {

    /*vmin is the smaller of vh and vw. If vh < vw , then 1vmin = 1vh.
    similarly , if vw < vh , then 1vmin = 1vw.
    opposite is true for vmax.*/

    height: 100%;
    width: 100%;
    /* position: relative; */
    border: 0.2rem solid #ffff33;
    box-shadow: 0 0 0.2rem #ffff33;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}



.head {
    background-color: #ff073a;
    box-shadow: 0.2rem 0.2rem 0.2rem #0c0c0c;
    border-radius: 0.8rem;
    transform: scale(1.15);
    border: 1px solid #8d041f;
}

.snakeBody {
    background-color: #ff1493;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #0c0c0c;
    border: 1px solid #720a42;
}

.food {
    background-color: #b026ff;
    border-radius: 0.8rem;
    animation-name: foodGrow;
    animation-duration: 0.125s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0.2rem 0.2rem 0.2rem #0c0c0c;
    border: 1px solid #4d1071;
}

@keyframes foodGrow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* media queries */

@media screen and (min-width : 1024px) {
    .container{
        justify-content: flex-start;
    }

    #start{
        position : fixed;
        bottom : 1rem;
        width : 5rem;
        margin-left : 1rem;
        padding : 0.7rem;
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .header {
        margin: 0 1rem;
    }

    .title_container {
        margin: 0 3rem;
        font-size: 3rem;
    }

    .common-style {
        margin: 0.3rem 1rem;
        font-size: 1.5rem;
    }

    .instructions {
        margin: 0 0.5rem;
    }

    #instruction2 {
        padding-top: 1rem;
    }

    .touch-controls {
        display: flex;
        margin: 0 1rem;
        margin-top : 0.5rem;
    }

    button {
        margin: 0 1rem;
        width : 4.5rem;
        padding : 0.7rem;
    }

    #start{
        width : 4rem;
        padding: 0.5rem;
    }

    .board_container{
        margin: 0.5rem 1rem;
    }
}

@media screen and (max-width : 768px) {
    .instructions {
        display: none;
    }

    .header {
        margin: 0;
    }

    .title_container {
        font-size: 2rem;
        margin: 0;
    }

    .score_container {
        margin: 0.3rem 0.5rem;
        font-size: 1.5rem;
    }

    #hiscore {
        padding-top: 0.5rem;
    }

    .touch-controls {
        margin: 1rem 0;
    }

    button {
        margin: 0rem;
        padding: 0.5rem 0.5rem;
        width: 4rem;
    }

    #left {
        margin-right: 1rem;
        margin-left: 0.5rem;
    }

    #right {
        margin-right: 0.3rem;
    }

    #start {
        margin: 1rem auto;
    }

    .board_container {
        margin: 0.5rem 0.2rem;
        padding: 0.2rem 0.5rem;
    }
}

@media screen and (max-width : 600px)
{
    .title_container{
        padding: 0;
    font-size: 1.5rem;
    }

    .score_container{
        font-size: 1.2rem;
    }

    button{
        width: 2.5rem;
        padding : 0.2rem;
    }

    #left{
        margin-right : 0.5rem;
    }

    #right{
        margin-left : 2rem;
    }

    #start{
        width : 3rem;
    }

    .board_container{
        margin-top: 0;
    }
}

@media screen and (max-width : 400px)
{
    .title_container{
        font-size: 1.4rem;
    }
    .score_container{
        font-size: 1rem;
    }
    button{
        width : 2rem;
    }
    #start{
        width : 2.5rem;
    }
    .board_container{
        margin-left: 0;
        margin-right: 0;
        height : 75%;
    }
}

@media screen and (max-width : 550px){
    .board_container{
        height : 85%;
    }
}